<%- include("../public/header.ejs") %> 

    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Edit comment </h1> 
            <form action='/article/<%= Article._id %>/comment/<%= Comment._id %>/doEdit' method='POST'>
                <div>
                    <input class='form-control' name='CommentAuthor' type='text' readonly value=<%= Comment.author.username %>>
                </div>
                <div class="form-group">
                    <input class='form-control' name='CommentCont' type='text' placeholder="Content" value=<%= Comment.CommentCont %>>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>

<%- include("../public/foot.ejs") %> 